@import url("fonts.css");

html {
	width: 100%;
	min-height: 100%;
}
body {
	background: #e1e6e9;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.empty {
	height: 495px;
}
.footer {
	background: #181818;
	height: 495px;
	margin-top: -495px;
	position: relative;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.nav-blocks {

	list-style: none;
	padding: 0 0 0 10px;
	margin: 35px 0 0 0;
	background: #030303;
	background: linear-gradient(to top, #030303 50%, #191919 50%);
}
.nav-block {
	float: left;
	text-decoration: none;
}
.nav-block-link {
	font: bold 11px Georgia;
	text-transform: uppercase;
	color: #c0c0c0;
	display: inline-block;
	padding: 8px 10px;
	text-decoration: none;
	transition: all .2s ease;
}
.nav-block-link:hover {
	color: #ececec;
}

.category {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
	border-bottom: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}
.category-bl {
	float: left;
}
.category-bl-a {
	text-decoration: none;
	display: inline-block;
	padding:10px 20px;
	font: bold 11px Georgia;
	text-transform: uppercase;
	color: #717171;
	border-right: 1px solid #cacaca;
}
.category-bl-a:hover {
	background: #f0f0f0;
}
.header-bottom {

}
.header-bottom-left,
.header-bottom-right {
	width: 50%;
	float: left;
}

.logo {
	text-decoration: none;
	display: inline-block;
	margin-top: 36px;
}
.logo-main {
	font:47px "ChaparralProBold", serif;
	line-height: 40px;
	display: block;
	color: #191919;
}
.logo-text {
	font:bold 14px Georgia, serif;
	letter-spacing: 0.7px;
	display: block;
	color: #555555;
	margin-left: 5px;
}

.banner {
	float: right;
	margin-top: 38px;
}
.banner img {
	display: block;
}
.content {
	margin-top: 37px;
	margin-bottom: 70px;
}
.content-main {
	width: 100%;
	outline: 0px solid black;
	padding:0 316px 0 10px;
	box-sizing: border-box;
}
.block-right {
	width: 286px;
	outline: 0px solid green;
	position: absolute;
	right: 0;
	top: 0;
}
.slider {
	padding: 16px;
	border: 1px solid #cacaca;
	background: #fff;
	text-align: center;
	position: relative;
}
.slider-image {
	display: block;
}
.title-block {
	background: linear-gradient(to top, #030303 50%, #191919 50%);
	font: 22px Georgia, serif;
	padding: 7px 13px;
	display: inline-block;
	position: absolute;
	left: -10px;
	top: -34px;
	color: #fff;
	z-index: 99;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #000;
	border-left: 10px solid transparent;
	border-right: 0 solid transparent;
	position: absolute;
	left: 0;
	top: 40px;
}

.slider-controls {
	list-style: none;
	padding: 9px;
	margin: 20px 0 0 0;
	border: 1px solid #cccdcd;
	background: #fff;
}
.slider-control {
	float: left;
	border: 1px solid #cccdcd;
	margin-right: 10px;
	position: relative;
}
.slider-control-link {
	background-image: url("../img/sprite-slide.jpg");
	text-decoration: none;
	display: block;
	width: 42px;
	height: 42px;
	margin: 4px;
	opacity: 0.6;
	transition: all 0.5s ease;
}
.slide1 {background-position: 0 center ;}
.slide2 {background-position:-42px center;}
.slide3 {background-position: -84px center;}
.slide4 {background-position: -126px center;}
.slide5 {background-position: -168px center;}
.slide6 {background-position: -210px center;}
.slide7 {background-position: -252px center;}
.slide8 {background-position: -294px center;}
.slide9 {background-position: -336px center;}
.slide10 {background-position: -378px center;}
.control-active {
	background: #e0e0e0;
}
.control-active .slider-control-link {
	opacity: 1;
}
.control-active .triangle-img-slide {
	visibility: visible;
}
.triangle-img-slide {
	background: url(../img/triangle-slider.png) center no-repeat;
	width: 20px;
	height: 10px;
	display: block;
	position: absolute;
	top:-19px;
	left: 15px;
	visibility: hidden;
}
.last-control {
	margin: 0;
}

.block-articles {
	position: relative;
	margin-top: 55px;
	background: #fff;
}
.block-article {
	list-style: none;
	border: 1px solid #cccdcd;
	padding: 30px 10px 10px 10px;
	margin: 0;
}
.block-article-cont {
	outline: 0px solid green;
	float: left;
	width: 275px;
	min-height: 100px;
	margin: 15px;
}

.parts-block {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.part-image {
	border: 1px solid #cccdcd;
	background: #fff;
}

.part-image img {
	display: block;
	width: 259px;
	height: 76px;
	margin: 7px;
}
.part-link a {
	text-align: left;
	text-decoration: none;
	font:bold 16px Georgia, serif;
	color: #2f2f2f;
	margin: 15px 0 10px 0;
	display: block;
}
.part-link a:hover {
	text-decoration: underline;
}
.part-time {
	background: url("../img/icon-time.png") left no-repeat;
	font: bold 12px/18px Georgia, serif;
	color: #000;
	padding-left: 25px;
	opacity: .5;
}
.part-text {
	font: 12px Arial, serif;
	color: #676767;
	margin-top: 10px;
}
.part-text:after {
	content: "[...]";
}


.block-article2 {
	list-style: none;
	border: 1px solid #cccdcd;
	padding: 10px;
	margin: 0;
}
.article2-cont {
	list-style: none;
	padding: 0;
	margin: 0;
}
.block-article-cont2 {
	outline: 0px solid green;
	float: left;
	width: 275px;
	min-height: 100px;
	margin:0 15px;
}

.part2-title a {
	width: 275px;
	text-align: left;
	text-decoration: none;
	font:bold 16px Georgia, serif;
	color: #2f2f2f;
	margin: 15px 0 10px 0;
	display: block;
	float: left;
}
.part2-title a:hover {
	text-decoration: underline;
}

.part2-img {
	border: 1px solid #cccdcd;
	width: 50px;
	height: 50px;
	float: left;
}
.part2-img img {
	margin: 4px;
}
.part2-text {
	font: 12px Arial, serif;
	color: #676767;
	margin-top: 10px;
	margin-left: 12px;
	float: left;
	width: 200px;
	overflow: hidden;
}
.part2-text:after {
	content: "[...]";
}
.line-cont {
	float: left;
	display: block;
	width: 275px;
	border: 1px solid #cacaca;
	margin-top: 10px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}