@import url("fonts.css");

html {
	width: 100%;
	min-height: 100%;
}
body {
	background: #e1e6e9;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.empty {
	height: 495px;
}
.footer {
	background: #181818;
	height: 495px;
	margin-top: -495px;
	position: relative;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.nav-blocks {

	list-style: none;
	padding: 0 0 0 10px;
	margin: 35px 0 0 0;
	background: #030303;
	background: linear-gradient(to top, #030303 50%, #191919 50%);
}
.nav-block {
	float: left;
	text-decoration: none;
}
.nav-block-link {
	font: bold 11px Georgia;
	text-transform: uppercase;
	color: #c0c0c0;
	display: inline-block;
	padding: 8px 10px;
	text-decoration: none;
	transition: all .2s ease;
}
.nav-block-link:hover {
	color: #ececec;
}

.category {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
	border-bottom: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}
.category-bl {
	float: left;
}
.category-bl-a {
	text-decoration: none;
	display: inline-block;
	padding:10px 20px;
	font: bold 11px Georgia;
	text-transform: uppercase;
	color: #717171;
	border-right: 1px solid #cacaca;
}
.category-bl-a:hover {
	background: #f0f0f0;
}
.header-bottom {

}
.header-bottom-left,
.header-bottom-right {
	width: 50%;
	float: left;
}

.logo {
	text-decoration: none;
	display: inline-block;
	margin-top: 36px;
}
.logo-main {
	font:47px "ChaparralProBold", serif;
	line-height: 40px;
	display: block;
	color: #191919;
}
.logo-text {
	font:bold 14px Georgia, serif;
	letter-spacing: 0.7px;
	display: block;
	color: #555555;
	margin-left: 5px;
}

.banner {
	float: right;
	margin-top: 38px;
}
.banner img {
	display: block;
}
.content {
	margin-top: 37px;
	margin-bottom: 70px;
}
.content-main {
	width: 100%;
	outline: 0px solid black;
	padding:0 316px 0 10px;
	box-sizing: border-box;
}
.block-right {
	width: 286px;
	outline: 0px solid green;
	position: absolute;
	right: 0;
	top: 0;
}
.slider {
	padding: 16px;
	border: 1px solid #cacaca;
	background: #fff;
	text-align: center;
	position: relative;
}
.slider-image {
	display: block;
}
.title-block {
	background: linear-gradient(to top, #030303 50%, #191919 50%);
	font: 22px Georgia, serif;
	padding: 7px 13px;
	display: inline-block;
	position: absolute;
	left: -10px;
	top: -34px;
	color: #fff;
	z-index: 99;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #000;
	border-left: 10px solid transparent;
	border-right: 0 solid transparent;
	position: absolute;
	left: 0;
	top: 40px;
}

.slider-controls {
	list-style: none;
	padding: 9px;
	margin: 20px 0 0 0;
	border: 1px solid #cccdcd;
	background: #fff;
}
.slider-control {
	float: left;
	border: 1px solid #cccdcd;
	margin-right: 10px;
	position: relative;
}
.slider-control-link {
	background-image: url("../img/sprite-slide.jpg");
	text-decoration: none;
	display: block;
	width: 42px;
	height: 42px;
	margin: 4px;
	opacity: 0.6;
	transition: all 0.5s ease;
}
.slide1 {background-position: 0 center ;}
.slide2 {background-position:-42px center;}
.slide3 {background-position: -84px center;}
.slide4 {background-position: -126px center;}
.slide5 {background-position: -168px center;}
.slide6 {background-position: -210px center;}
.slide7 {background-position: -252px center;}
.slide8 {background-position: -294px center;}
.slide9 {background-position: -336px center;}
.slide10 {background-position: -378px center;}
.control-active {
	background: #e0e0e0;
}
.control-active .slider-control-link {
	opacity: 1;
}
.control-active .triangle-img-slide {
	visibility: visible;
}
.triangle-img-slide {
	background: url(../img/triangle-slider.png) center no-repeat;
	width: 20px;
	height: 10px;
	display: block;
	position: absolute;
	top:-19px;
	left: 15px;
	visibility: hidden;
}
.last-control {
	margin: 0;
}

.block-articles {
	position: relative;
	margin-top: 55px;
	background: #fff;
}
.block-article {
	list-style: none;
	border: 1px solid #cccdcd;
	padding: 30px 10px 10px 10px;
	margin: 0;
}
.block-article-cont {
	outline: 0px solid green;
	float: left;
	width: 275px;
	min-height: 100px;
	margin: 15px;
}

.parts-block {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.part-image {
	border: 1px solid #cccdcd;
	background: #fff;
}

.part-image img {
	display: block;
	width: 259px;
	height: 76px;
	margin: 7px;
}
.part-link a {
	text-align: left;
	text-decoration: none;
	font:bold 16px Georgia, serif;
	color: #2f2f2f;
	margin: 15px 0 10px 0;
	display: block;
}
.part-link a:hover {
	text-decoration: underline;
}
.part-time {
	background: url("../img/icon-time.png") left no-repeat;
	font: bold 12px/18px Georgia, serif;
	color: #000;
	padding-left: 25px;
	opacity: .5;
}
.part-text {
	font: 12px Arial, serif;
	color: #676767;
	margin-top: 10px;
}
.part-text:after {
	content: "[...]";
}


.block-article2 {
	list-style: none;
	border: 1px solid #cccdcd;
	padding: 10px;
	margin: 0;
}
.article2-cont {
	list-style: none;
	padding: 0;
	margin: 0;
}
.block-article-cont2 {
	outline: 0px solid green;
	float: left;
	width: 275px;
	min-height: 100px;
	margin:0 15px;
}

.part2-title a {
	width: 275px;
	text-align: left;
	text-decoration: none;
	font:bold 16px Georgia, serif;
	color: #2f2f2f;
	margin: 15px 0 10px 0;
	display: block;
	float: left;
}
.part2-title a:hover {
	text-decoration: underline;
}

.part2-img {
	border: 1px solid #cccdcd;
	width: 50px;
	height: 50px;
	float: left;
}
.part2-img img {
	margin: 4px;
}
.part2-text {
	font: 12px Arial, serif;
	color: #676767;
	margin-top: 10px;
	margin-left: 12px;
	float: left;
	width: 200px;
	overflow: hidden;
}
.part2-text:after {
	content: "[...]";
}
.line-cont {
	float: left;
	display: block;
	width: 275px;
	border: 1px solid #cacaca;
	margin-top: 10px;
}

/*Block left*/
.container-aside {
	width: 100%;
	margin: 0 auto;
	position: relative;
	outline: 0px solid #000;
}
.form-search {
	text-align: right;
}
.search-text {
	font: 12px Verdana,serif;
	width: 164px;
	height: 36px;
	padding:0 10px;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
}
.search-text::-webkit-input-placeholder {font-size: 10px; color:#cacaca;}
.search-text::-moz-placeholder          {font-size: 10px; color:#cacaca;}/* Firefox 19+ */
.search-text:-moz-placeholder           {font-size: 10px; color:#cacaca;}/* Firefox 18- */
.search-text:-ms-input-placeholder      {font-size: 10px; color:#cacaca;}
.search-bottom {
	width: 98px;
	height: 38px;
	background: linear-gradient(to top, #030303 50%, #191919 50%);
	font:bold 11px Georgia, serif;
	color: #fff;
	border: none;
	float: right;
}
.social-blocks{
	margin-top: 30px;
	font:14px Georgia;
	color: #5e5e5e;
}
.social-block {
	width: 50%;
	float: left;
}
.social-block p {
	width: 50px;
	margin: 0 0 0 50px;
}
.social-block span {
	line-height: 20px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}
.social-rss {
	background: url(../img/icon-rss.png) left no-repeat;
}
.social-twitter {
	background: url(../img/icon-twitter.png) left no-repeat;
}
/*Vkladki*/
.vkladki-css {
	border: 1px solid #cacaca;
	margin-top: 27px;
	background: #fff;
}
.controls-botom {
	background: linear-gradient(to top, #030303 50%, #191919 50%);
	font:bold 11px Georgia, serif;
	color: #fff;
	padding: 7px 13px;
	cursor: pointer;
	display: block;
	float: left;
	width: 24.18%;
	transition:all .3s ease;
	text-align: center;
	text-transform:uppercase;
}
.controls-botom:hover {
	text-decoration: underline;
}
.controls-chekbox:checked + .controls-botom {
	background: #fff;
	color: #000;
}
.controls-chekbox {
	display: none;
}
#controls-botom1:checked ~ .vkladki-blocks>.vkl-b1 {
	opacity: 1;
}
#controls-botom2:checked ~ .vkladki-blocks>.vkl-b2 {
	opacity: 1;
}
#controls-botom3:checked ~ .vkladki-blocks>.vkl-b3 {
	opacity: 1;
}
.vkladki-blocks {
	clear: both;
	min-height: 205px;
	padding: 15px;
}
.vkladki-block {
	width: 255px;
	position: absolute;
	opacity: 0;
	display: block;
	transition: all .3s ease;
}

.article3-cont {
	list-style: none;
	padding: 0;
	margin: 0;
}
.block-article-cont3 {
	outline: 0px solid green;
	float: left;
	width: 275px;
	min-height: 100px;
	margin:0 15px;
}

.part3-title a {
	width: 255px;
	text-align: left;
	text-decoration: none;
	font:bold 16px Georgia, serif;
	color: #2f2f2f;
	margin: 15px 0 10px 0;
	display: block;
	float: left;
}
.part3-title a:hover {
	text-decoration: underline;
}

.part3-img {
	border: 1px solid #cccdcd;
	width: 50px;
	height: 50px;
	float: left;
}
.part3-img img {
	margin: 4px;
}
.part3-text {
	font: 12px Arial, serif;
	color: #676767;
	margin-left: 12px;
	float: left;
	width: 180px;
	height: 58px;
	overflow: hidden;
}
.part3-text:after {
	content: "[...]";
}
.line-cont3 {
	float: left;
	display: block;
	width: 250px;
	border: 1px solid #cacaca;
	margin-top: 10px;
	margin-bottom: 0;
}
/*Vkladki END*/

.block-categories {
	margin-top: 30px;
}
.categories-right {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 47%;
	float: left;
	box-sizing: border-box;
	font-family: Georgia;
	font-weight: bold;
}
.fl-cat-right {
	float: right;
}
.category-right {
	border-bottom: 1px solid #b7bbbe;
}
.category-right h3 {
	font-size: 14px;
	background: linear-gradient(to top, #030303 50%, #191919 50%);
	color: #fff;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;
	text-transform: uppercase;
}
.category-right a {
	font-size: 12px;
	padding: 12px 0;
	text-decoration: none;
	display: block;
	color: #464646;
	transition: all 0.2s ease;
}
.category-right a:hover {
	background: #d6dadd;
	padding-left: 10px;
}
.triangle-category {
	width: 0;
	height: 0;
	border-top: 15px solid #000;
	border-left: 15px solid transparent;
	border-right:15px solid transparent;
	position: absolute;
	left: 12px;
	top: 30px;
}

.banners-right {
	margin-top: 30px;
	outline: 1px solid #cacaca;
	padding-left: 12px;
	background: #fff;
}
.banners-right a {
	display: block;
	margin: 12px 12px 12px 0;
	float: left;
}
.banners-right a img {
	display: block;
}

.right-video {
	background: #fff;
	border: 1px solid #cacaca;
	margin-top: 30px;
}
.video-title {
	background: linear-gradient(to top, #030303 50%, #191919 50%);
	color: #e4e4e4;
	font: bold 14px Georgia;
	text-transform: uppercase;
	padding: 12px 15px;
	margin: 0;
}

.youtu-video {
	margin: 12px;
}
.more-videos {
	margin: 12px;
}
.more-videos h4 {
	color: #424242;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}
.more-videos a {
	border: 1px solid #cacaca;
	display: block;
	float: left;
	padding: 5px;
	margin-right: 14px;
}
.more-videos a:last-child {
	margin-right: 0;
}
.more-videos a img {
	display: block;
}

/*Block Right END-------------*/

/* FOOTER START*/
.fotop-blocks {
	width: 33.32%;
	outline: 0px solid #fff;
	float: left;
	margin-top: 50px;
}
.fo-block1 {
	list-style: none;
	padding: 0;
	width: 40%;
	float: left;
	margin:  0 0 0 20px;
}

.fo-block1 li {
	border-bottom: 1px solid #2c2c2c;
	box-shadow: 0 1px 1px #434343;
}
.fo-block1 li h2 {
	font:bold 12px/27px Georgia, serif;
	color: #fff;
	padding-left: 35px;
}
.fo-star-h {
	background: url(../img/icon-footer-star.png) no-repeat;
}
.fo-coffee-h {
	background: url(../img/icon-footer-coffee.png) no-repeat;
}
.fo-block1 li>a {
	text-decoration: none;
	display: block;
	padding: 10px;
	font: 12px Arial,serif;
	color: #b6b6b6;
	transition: all .2s ease;
}
.fo-block1 li>a:hover {
	background: #121212;
}

.block1-none-bord {
	border-bottom: none;
	box-shadow: none;
}
.fo-block1-finde {
	margin-top: 40px;
}
.fo-block1-finde h3 {
	padding-left: 30px;
	background: url(../img/icon-earth.png) no-repeat;
	font:bold 12px/27px Georgia, serif;
	color: #fff;
}
.fo-block1-finde a {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/sprite-social-footer.png);
	margin-right: 3px;
}
.finde-face {
	background-image: url(../img/sprite-social-footer.png);
	background-position: 0 center;
}
.finde-os {
	background-image: url(../img/sprite-social-footer.png);
	background-position: -19px center;
}
.finde-twitter {
	background-image: url(../img/sprite-social-footer.png);
	background-position: -38px center;
}
.finde-myspace {
	background-image: url(../img/sprite-social-footer.png);
	background-position: -57px center;
}
.finde-rss {
	background-image: url(../img/sprite-social-footer.png);
	background-position: -76px center;
}

.fo-block2 {
	list-style: none;
	padding: 0;
	margin:  0  20px;

}

.fo-block2 li {
	border-bottom: 1px solid #2c2c2c;
	box-shadow: 0 1px 1px #434343;
}
.fo-block2 li h2 {
	background: url(../img/icon-footer-blog.png) no-repeat;
	font:bold 12px/27px Georgia, serif;
	color: #fff;
	padding-left: 40px;
}
.fo-block2-li {
	font-family: Arial;
	font-size: 10px;
	padding: 10px;
	color: #868686;
}
.fo-block2-li:hover {
	background: #121212;
}
.fo-block2-li span {
	margin-left: 15px;
}
.fo-block2 li a {
	text-decoration: none;
	display: block;
	font-size: 12px;
	color: #b6b6b6;
	transition: all .2s ease;
	margin-bottom: 5px;
}


.fo-form {
	padding-left: 15px;
}
.fo-form h2 {
	color: #fff;
	font: bold 16px/30px Georgia, serif;
	padding-left: 45px;
	background: url(../img/icon-later-form.png) no-repeat;
	margin: 7px 0;
}
.fo-form p {
	margin: 8px 0;
}
.fo-form-intext, .fo-form textarea {
	width: 100%;
	background: #383838;
	border-radius: 6px;
	border: none;
	color: #fff;
	padding: 5px;
}
.fo-form label {
	font:bold 12px Arial, serif;
	color: #b6b6b6;
}
.fo-form input[name="submit"] {
	font:bold 12px Arial, serif;
	background: #202020;
	color: #b6b6b6;
	padding: 7px 20px;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}


.footer-bottom {
	width: 100%;
	height: 35px;
	background: #222222;
	position: absolute;
	bottom: 0;
}
.copyright {
	color: #888888;
	font:bold 11px/35px Arial, serif;
	width: 50%;
	float: left;
}
.author {
	color: #888888;
	font:bold 11px/35px Arial, serif;
	width: 50%;
	float: left;
	text-align: right;
}

/*FOOTER END----------*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
